<form [formGroup]="customerModel.formCustomerGroup">
    Customer Code :<input type="text" formControlName="customerCodeControl" [(ngModel)]="customerModel.customerCode" /><br>
    Customer Name :<input type="text" formControlName="customerNameControl" [(ngModel)]="customerModel.customerName" /><br>
    Customer Amount :<input type="text" [(ngModel)]="customerModel.customerNumber" [ngModelOptions]="{standalone: true}"/><br>
    <input type="button"  [disabled]="!(customerModel.formCustomerGroup.valid)" (click)="Add()" value="ADD" /><br>
</form>
<div *ngIf="customerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','customerCodeControl'))">customer code is required</div>
<div *ngIf="customerModel.formCustomerGroup.dirty" [hidden]="!(hasError('pattern','customerCodeControl'))">customer code should be of 4 digits</div>
<div *ngIf="customerModel.formCustomerGroup.dirty" [hidden]="!(hasError('required','customerNameControl'))">customer name is required</div>
<div *ngIf="customerModel.formCustomerGroup.dirty" [hidden]="!(hasError('pattern','customerNameControl'))">customer name is should be in charecters only</div>

<table>
    <tr>
        <td>Customer Code</td>
        <td>Customer Name</td>
        <td>Customer Number</td>
    </tr>
    <tr *ngFor="let cust of customerModels">
        <td>{{cust.customerCode}}</td>
        <td>{{cust.customerName}}</td>
        <td>{{cust.customerNumber}}</td>
    </tr>
</table>